<!---->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!--this is the page for the html of the home page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>disaster help</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <!-- import the webpage's stylesheet -->                                                                                                         
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  
 

  </head>
  <body>
    
     <div class="navigation">
   
        <a href="./items-to.html">items</a> 
         <span class="navigation"></span> <a href="./login.html">log in</a>   
        <span class="navigation"></span>  <a href="./sign_up.html">sign up</a>
    </div>

    
    <header>
      <h1>
        help a disaster victim now
      </h1>
    </header>
        
    <main>
      <p class="bold"><h2>please help a disaster victim now</h2></p>
      
      
       <h4>
         If you do not have an existing account sign up. To sign up click the link above
       </h4>
  <p>
  <h4>
   If you have an existing account and you have not signed in sign in. 
   </h4>
  </p>
    <p>
    <h4>
    If you are loged in then get to helping or getting help by clicking the items link above
    </h4>    

    </p>

<img src="https://c8.alamy.com/comp/H797H2/fire-emergency-natural-disaster-design-over-white-background-vector-H797H2.jpg" alt="natural disaster" width="460" height="345">
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>





